{% extends 'base.html.twig' %}

{% block title %}Contact Ville!{% endblock %}

{% block body %}

    {% if city is defined and city is not empty %}        
        <h1>Contacter {{ city }} </h1>
    {% else %}
        <h1>Contact</h1>
    {% endif %}

    {% if name is defined and name is not empty %}
        <p>Via : {{name}}</p>
    {% endif %}

{% endblock %}


{# ✅ #}